body {
    margin: 0;
    font-family: Arial;
    background: #0b0b0b;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo span {
    color: #FFD700;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

/* HERO */
.hero {
    padding: 80px 40px;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text span {
    color: #FFD700;
}

.desc {
    color: #aaa;
}

/* BOTÕES */
.btn {
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 10px;
}

.primary {
    background: #FFD700;
    color: black;
}

.secondary {
    border: 1px solid #FFD700;
    color: #FFD700;
}

/* PLANOS */
.planos {
    text-align: center;
    padding: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #161616;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

.old {
    text-decoration: line-through;
    color: #888;
}

.destaque {
    border: 2px solid #FFD700;
}

/* DUPLO */
.duplo {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
}

.box {
    background: #111;
    padding: 30px;
    border-radius: 10px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    background: #111;
}