body {
    margin: 0;
    font-family: Arial;
    background: #000;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.logo span {
    color: #FFD700;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 80px;
    background: url("bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7);
}

.hero-text {
    position: relative;
    z-index: 2;
    max-width: 500px;
}

.hero-text h1 {
    font-size: 60px;
    line-height: 1.1;
}

.hero-text span {
    color: #FFD700;
}

.desc {
    color: #aaa;
}

/* BOTÕES */
.btn {
    padding: 14px 24px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 10px;
}

.primary {
    background: #FFD700;
    color: black;
}

.secondary {
    border: 1px solid #FFD700;
    color: #FFD700;
}

/* IMAGENS */
.hero-img {
    position: relative;
    z-index: 2;
}

.phone {
    width: 260px;
    position: relative;
    z-index: 3;
}

.car {
    width: 400px;
    position: absolute;
    right: -150px;
    bottom: -50px;
}

/* PLANOS */
.planos {
    text-align: center;
    padding: 80px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card {
    background: #161616;
    padding: 30px;
    border-radius: 15px;
    width: 260px;
}

.old {
    text-decoration: line-through;
    color: #888;
}

.destaque {
    border: 2px solid #FFD700;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 40px;
    background: #111;
}