* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #000;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.logo span {
    color: #FFD700;
}

.hero {
    height: 90vh;
    background: url("../bg.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #000 40%, rgba(0,0,0,0.4));
}

.hero-content {
    position: relative;
    padding: 0 40px;
    max-width: 600px;
}

.hero h1 {
    font-size: 56px;
}

.btn {
    padding: 14px 24px;
    border-radius: 12px;
    text-decoration: none;
}

.primary {
    background: #FFD700;
    color: black;
}

.secondary {
    border: 1px solid #FFD700;
    color: #FFD700;
}

.planos {
    text-align: center;
    padding: 80px 20px;
}

.cards {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.card {
    background: #111;
    padding: 30px;
    border-radius: 20px;
    min-width: 250px;
}

.destaque {
    border: 2px solid #FFD700;
}

.cta-driver {
    padding: 80px 20px;
}

.cta-title span {
    color: #FFD700;
}

.cta-button {
    background: #FFD700;
    color: black;
    padding: 15px 25px;
    border-radius: 10px;
}

.hero-cta {
    padding: 80px 20px;
    display: flex;
    justify-content: center;
}

.hero-box {
    background: #111;
    padding: 40px;
    border-radius: 20px;
}

.btn.white {
    background: white;
    color: black;
}

.btn.gold {
    background: #FFD700;
    color: black;
}